@model EmployeesDiscount.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>User other service to login.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                External authentication service is not configured. About setting this ASP.NET application to support by external service login details, please refer to <a href="http://go.microsoft.com/fwlink/?LinkId=403804">here</a>。
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Please Use your @p.Caption Account to Login">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}
